.logo {
  width: 150px; }

.boton_pedido {
  text-align: right;
  animation: zoomIn;
  animation-duration: 10s; }

.texto {
  background: linear-gradient(grey, white);
  -webkit-background-clip: text;
  color: transparent; }

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }

.map-responsive iframe {
  left: 0;
  top: 0;
  position: absolute; }

.footer {
  margin-top: 10%; }

.prod-index {
  margin-left: 1rem; }

figure {
  background-color: black;
  color: blue; }

body {
  background-color: grey; }

p {
  color: black; }

nav {
  color: white;
  background-color: black; }

h1 {
  color: black; }

.foot {
  color: white; }

.titulo2 {
  background-color: black;
  color: grey; }

.tex-ingresar {
  color: black; }

.titulo {
  background: #161301;
  background: linear-gradient(0deg, rgba(22, 19, 1, 0.75674) 24%, black 100%); }

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

h1 {
  font-family: monospace;
  color: black; }

p {
  color: black; }

nav {
  color: white;
  background-color: black; }

.foot {
  color: white; }

.historia {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.foot {
  background-color: #3673D9;
  text-align: center;
  padding: 1rem;
  color: white; }

.uno {
  background-color: black;
  color: white; }

.dos {
  background-color: black;
  color: white; }
