.display-3{
    background-color: gold;
}
.footer{
    background-color: black;
    color: white;
    margin-top: 10%;
}
.footer p{
    color: white;
}
.blockquote-footer{
    color: white;
}
.mapa{
    background-color: gold;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.local{
    background-color: gold;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.cuenta{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: gray;
}
p{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.principal{
    margin-bottom: 1rem;
}
.boton_pedido{
    text-align: right;
    animation:zoomIn;
    animation-duration: 10s;
}
.logos{
    animation:backInLeft;
    animation-duration: 4s;
}
.titulo{
    background: rgb(22,19,1);
    background: linear-gradient(0deg, rgba(22,19,1,0.7567401960784313) 24%, rgba(34,193,195,1) 100%);
}
.texto {
    background: linear-gradient(red, yellow);
    -webkit-background-clip: text;
    color: transparent;  
  }
  .nav a{
      color:white
  }
  .logo{
      max-width: 150px;
  }
 .centrado{
     text-align: center;
 }