figure{
    background-color: black;
    color: blue;
}
body{
    background-color: grey;
}

p{
    color: black;
}
nav{
    color: white;
    background-color: black;
}
h1{
    color: black;
}
.foot{
    color: white;
}
.titulo2{
    background-color: black;
    color: grey;
}
.tex-ingresar{
    color: black;
}
.titulo{
    background: rgb(22,19,1);
    background: linear-gradient(0deg, rgba(22,19,1,0.7567401960784313) 24%, black 100%);
}

  