p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

h1{
    font-family: monospace;
    color: black;
}

p {
    color: black; }
  
  nav {
    color: white;
    background-color: black; }
  
  
  .foot {
    color: white; }
  
  .historia{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


 